.navbar-inverse{
    margin-bottom: -20px;
}
.container{
    margin-top: 10px;
    margin-left: 0;
}
.panel{
    margin-left: 10px;
    margin-right: 15%;
}
h2{
    margin-left: 15px;
}
.clearing-thumbs{
    margin-left: 50px;
}
#pageNumber{
    margin-left: 48%;
}